UNIQUE_KEY=EXAMPLE_KEY
CREATE_STATUS=TEST
CLOSE_STATUS=TEST_CLOSE

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432
DB_FIRST_TABLE=open
OPEN_TABLE=test_open_table
CLOSE_TABLE=test_close_table

SYSTEM_LOGIN = admin
SYSTEM_IP = 127.0.0.1
